* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.css-tl75b3 {
  margin: 0 !important;
  overflow: hidden;
}

.css-nplzzq {
  margin: 0 !important;
  overflow: hidden;
}

.card-container {
  overflow: hidden;
  margin: 0 !important;
}

.css-5f4o2b {
  margin: 0 !important;
  overflow: hidden !;
}
